$width_modules: 100%;
$width_gameselect: 99%;

.grid-container1-main {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
}
.grid-container2-main {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
}
.grid-container3-main {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
}
.grid-item1-main {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  height: 300px;
  text-align: center;
}
.grid-item1-main h1 {
  padding-top: 20px;
}
.grid-item2-main {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  height: 280px;
  text-align: center;
}
.grid-item3-main {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  text-align: center;
}

.topfeatures {
  width: $width_modules;
}

.midtitle {
  width: $width_modules;
}

.valorant_gameselect {
  width: $width_gameselect;
}

.valorant_gameselect:hover {
  opacity: 0.8;
}

.warzone_gameselect {
  width: $width_gameselect;
}

.warzone_gameselect:hover {
  opacity: 0.8;
}

.fifa20_gameselect {
  width: $width_gameselect;
}

.fifa20_gameselect:hover {
  opacity: 0.8;
}

.lol_gameselect {
  width: $width_gameselect;
}

.lol_gameselect:hover {
  opacity: 0.8;
}
