.grid-container1-tr {
  background-color: $color-negro;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item1-tr {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-container2-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item2-tr {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 50px;
  text-align: center;
}

.grid-item2-tr h4 {
  color: white;
  margin-top: 10px;
}

.grid-container3-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item3-tr {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item3-tr .nombresinput {
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item3-tr .apellidosinput {
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container4-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item4-tr {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item4-tr .direccioninput {
  margin-left: 10px;
  width: 99%;
}

.grid-container5-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item5-tr {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item5-tr .emailinput {
  margin-left: 10px;
  width: 95%;
}

.grid-item5-tr .telinput {
  margin-left: 5px;
  width: 95%;
}

.grid-item5-tr .zipinput {
  width: 95%;
}

.grid-container6-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item6-tr {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item6-tr .departamentoinput {
  margin-left: 10px;
  width: 95%;
}

.grid-item6-tr .ciudadinput {
  margin-left: 5px;
  width: 95%;
}

.grid-item6-tr .userinput {
  width: 95%;
}

.grid-container7-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item7-tr {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 400px;
  text-align: center;
}

.tabla-tr {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
}

.grid-item7-tr h4 {
  color: white;
  position: relative;
  top: -10px;
}

.grid-container8-tr {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item8-tr {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-item8-tr .registrabtn {
  margin-top: 80px;
  height: 50px;
}
