$avatarwidth: 100px;
$avatarheight: 100px;

.grid-container1-ur {
  background-color: $color-negro;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item1-ur {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-container2-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item2-ur {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item2-ur .nombresinput {
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item2-ur .apellidosinput {
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container3-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item3-ur {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item3-ur .direccioninput {
  margin-left: 10px;
  width: 99%;
}

.grid-container4-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item4-ur {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item4-ur .emailinput {
  margin-left: 10px;
  width: 95%;
}

.grid-item4-ur .telinput {
  margin-left: 5px;
  width: 95%;
}

.grid-item4-ur .zipinput {
  width: 95%;
}

.grid-container5-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item5-ur {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
}

.grid-item5-ur .departamentoinput {
  margin-left: 10px;
  width: 95%;
}

.grid-item5-ur .ciudadinput {
  margin-left: 5px;
  width: 95%;
}

.grid-item5-ur .userinput {
  width: 95%;
}

.grid-container6-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item6-ur {
  background: red;
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 1300px;
  text-align: center;
}

.grid-container7-ur {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item7-ur {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-item7-ur .registrabtn {
  margin-top: 150px;
  height: 50px;
}

.avatar {
  width: $avatarwidth;
  height: $avatarheight;
}

.titlecentertable {
  text-align: center;
  position: relative;
  top: 25px;
}

.centerswitch {
  text-align: center;
  position: relative;
  top: 25px;
}
