$color-negro: #323030;

.grid-container1-v {
  background-color: $color-negro;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-item1-v {
  display: inline-grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-item1-v h1 {
  padding-top: 25px;
}

.grid-container2-v {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-container3-v {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 280px;
}

.grid-item3-v {
  position: relative;
  top: 270px;
}

.grid-container4-v {
  background-color: $color-negro;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 30px;
}
